.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dark {
  background-color: #000;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movies-card {
  width: 300px;
  height: 400px;
  /*background-color: aqua;*/
  border-radius: 8px;
  box-shadow: 15px 15px 35px #000;
  overflow: hidden;
  position: relative;
}

.movies-card .poster{
  position: relative;
}

.movies-card .poster::before {
  content: "";
  position: absolute;
  bottom: -180px;
  background: linear-gradient(0deg, #1064a6 50%, transparent);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}

.movies-card:hover .poster::before {
  bottom: 0;
}

.movies-card .poster img {
  width: 100%;
  transition: 0.5s;
}

.movies-card:hover .poster img {
  transform: translateY(-50px);
  /*filter: blur(5px);*/
}

.movies-card .details {
  position: absolute;
  bottom: -240px;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 2;
  transition: 0.5s;

}

.movies-card:hover .details {
  bottom: 0px;
}

.movies-card .details .logo {
  max-width: 180px;
}

.movies-card .details h3 {
  font-size: 0.8em;
  color: #fff;
}

.movies-card .details .rating {
  position: relative;
  padding: 5px;
}

.movies-card .details .rating .fa-star {
  color: yellow;
  font-size: 1em;
}

.movies-card .details .rating span {
  color: #fff;
} 

.movies-card .details .tags {
  margin-top: 5px;
}

.movies-card .details .tags span {
  padding: 2px 5px;
  color: #fff;
  background-color: #03a8f5;
  border-radius: 4px;
}

.movies-card .details .tags span:nth-child(2) {
  background-color: #ff5722;
  margin-left: 5px;
}

.movies-card .details .info {
  color: #fff;
  margin-top: 10px;
}

.movies-card .details .cast {
  margin-top: 10px;
  position: relative;
}

.movies-card .details .cast h4 {
  color: #fff;
  margin-top: 10px;
}

.movies-card .details .cast ul {
  margin-top: 5px;
  position: relative;
  display: flex;
  gap: 10px;
}

.movies-card .details .cast ul li{
  list-style: none;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
}

.movies-card .details .cast ul li img {
  max-width: 100%;
}

/* bootstrap personazilado */
.form-select { width: auto;}

img.rounded-start.card-img.img-fluid {
  border-radius: 0;
}